@import '~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss';

.documentCardCL {
    .iconContainer {
        color: $ms-color-themePrimary;
        font-size: 42px;
    }
    .textOverflow {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .textOverflow > div {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}